.add{
margin-left: 25%;
padding: 4px;
}
.int{
    width: 50%;
background-color: blueviolet;
 margin: 10%;
 padding: 10%;
 margin-right: 5px;
 color:white;

}
.btn{
   width: 15%;
   margin-left:  300px;
    
}
.int2{
    width: 15%;
    margin-left: 10px;
    background-color: gray;
}
.int3{
    margin-left: 10px;
}
.dis{
margin-left: 25%;
padding: 4px;

}
